
@{
    ViewData["Title"] = "SignIn";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/materialdesignicons.css" rel="stylesheet" />
    <link href="~/css/Shared/Layout.css" rel="stylesheet" />
    <link href="~/css/Account/SignIn.css" rel="stylesheet" />
    <script src="~/JavaScript/Shared/JavaScript.js"></script>
</head>
<body>
    <div class="login-wrapper">
        <div class="user-panel">
            <div class="user-panel__header">
                ورود به سایت
            </div>
            <main class="user-panel__content">
                <form asp-action="SignIn" asp-controller="Acount" method="post" class="frm-control" novalidate>
                    <div class="frm-control__group">
                        <label class="frm-control__label" for="txtEmail">نام کاربری</label>
                        <input class="frm-control__input" type="email" name="email" id="txtEmail" />
                        <span class="frm-control_validation frm-control_validation--show mdi mdi-alert-circle-outline">درج ایمیل الزامیست</span>
                    </div>
                    <div class="frm-control__group password-container">
                        <label class="frm-control__label" for="txtPassword">رمز عبور</label>
                        <input class="frm-control__input" type="password" name="password" id="txtPassword" />
                        <span> <i class="mdi mdi-18px mdi-eye-outline eye-icon-pass" id="font" onclick="togglePW()" aria-hidden="true"></i></span>
                        <span class="frm-control_validation frm-control_validation--show mdi mdi-alert-circle-outline">درج پسورد الزامیست</span>
                    </div>
                    <div class="frm-control__group">
                        <label class="frm-control__checkbox">
                            <input type="checkbox" class="frm-control__checkbox-input" value="True" name="rememberme" /> مرا به خاطر بسپار
                        </label>
                    </div>
                    <div class="frm-control__actions">
                        <button class="button" type="submit">
                            <span class="button-text">ورود</span>
                        </button>
                        <a href="/" class="button">
                            <span class="button-text">بازگشت</span>
                        </a>

                    </div>
                </form>
                @if (ViewBag.error != null)
                {
                    <div class="text-danger">@ViewBag.error</div>
                }
            </main>
        </div>
    </div>
</body>
</html>

