
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%">
<head >
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <title>ورود</title>
</head>
<body dir="rtl" style="height:100%">
    <div class="container-fluid d-flex justify-content-center flex-column h-100 ">
        <div class="card text-right mr-auto  ml-auto " style="width:680px;max-width:100%" >
            <div class="card-header d-flex align-items-center justify-content-between ">
                <h3>ورود به پنل مدیریتی</h3>


            </div>
            <form class="form-horizontal frmproduct mt-4" method="post" action="/Admin/Profile/SignIn" enctype="multipart/form-data" novalidate>
                @*@{if (id != null)
            {
                <input type="hidden" name="id" value="@id" />

            }
        }*@
                <div class="mb-3 form-group row mr-3">
                    <label class=" col-md-2 " for="txtusername">نام کاربری</label>

                    <div class="col-md-6">
                        <input class="form-control" id="txtusername" name="username" maxlength="50" required>
                        @*@if (Model?.Products != null)
        {
            <input class="form-control" id="txtusername" name="username" maxlength="50" value="@Model.Products.PrimaryTitle" required>
        }
        else
        {
            <input class="form-control" id="txtusername" name="username" maxlength="50" required>
        }*@

                        <div class="invalid-feedback ">
                            یه اسم درست بذار
                        </div>
                        <div class="valid-feedback ">
                            خوبه
                        </div>
                    </div>


                </div>
                <div class="mb-3 form-group row mr-3 ">

                    <label for="txtPassword" class="form-label col-md-2 " name="id">رمز عبور</label>
                    <div class="col-md-6">
                        <input class="form-control" id="txtPassword" autocomplete="off" maxlength="50" name="password" type="password" required>
                        @*@if (Model?.Products != null)
        {
            <input class="form-control" id="txtPassword" autocomplete="off" maxlength="50" name="password" value="@Model.Products.SecondaryTitle" required>
        }
        else
        { <input class="form-control" id="txtPassword" autocomplete="off" maxlength="50" name="password" required>}*@

                        <div class="invalid-feedback  ">
                            یه اسم درست بذار
                        </div>
                        <div class="valid-feedback  ">
                            خوبه
                        </div>
                    </div>

                </div>
                <div class="mb-3 form-group row mr-3"> 
                    <label class="col-md-2"></label>
                    <div class="col-md-8 ">
                        <style type="text/css">
                            .custom-control{
                                padding-right:1.5rem;
                                padding-left:0;
                            }
                             .custom-control-label:before{
                                left:auto;
                                right:-1.5rem;

                            }
                            .custom-control-label:after{
                                left:auto;
                                right:-1.5rem;

                            }
                        </style>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="txtRememberme" name="rememberme" value="True" type="checkbox">
                            <label class="custom-control-label" for="txtRememberme">
                                مرا به خاطر بسپار
                            </label>

                        </div>
                    </div>
                 </div>

                <div class="row mb-3 mr-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 ">
                        <button type="submit" class="btn btn-primary col-md-2">
                            ثبت
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @section Scripts{
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('frmproduct');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    }

</body>
</html>
