.cart{
    padding:1rem;
}
.cart__title{
    font-size:2rem;
    color:#333;
    line-height:1.8;
    padding:1rem;
    border-bottom:1px solid #ddd;
}
.cart-table{
    border:1px solid #ddd;
    display:table;
    width:100%;
    box-sizing:border-box;
    table-layout:fixed;
}
.cart-table__head{
    display:table-row;
}
    .cart-table__head.cart-table__td{
        background-color:#eee;
        border-top:none;
        font-size:1.8rem;
        text-align:center:
       
    }
.cart-table__td {
    display: table-cell;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #333;
    vertical-align:middle;
}
    .cart-table__td--row{
        width:50px;
        text-align:center;
        color:#999;

    }
.cart-table__td--product{
    width:35%;
}
.cart-table__td--count {
    text-align: center;
    width: 15%;
}
.cart-table__td--price {
    width: 20%;
    text-align: center;
}
.cart-table__td--total {
    width: 20%;
    text-align: center;
}
.cart-table__td--action {
    width: 10%;
    text-align: center;
}
.cart-table__td:first-child {
    border-right: none;
}
.cart-table__row{
    display:table-row;
    background-color:aliceblue;
}
    .cart-table__row:nth-child(2n+1) .cart-table__td{
        background-color:antiquewhite;
    }
    .cart-product {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
.cart-product__photo-link{
    padding:3px;
    border: 1px solid #ddd;
    margin-left:10px;
}
.cart-product__photo{
    width:80px;
    height:80px;
   
}
.cart-product__titles{
    flex:1;
}
.cart-product__primary-title{
    display:inline-block;
    font-size:1.6rem;
    color:#333;
    line-height:1.8;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}
.cart-product__secondary-title {
    display: inline-block;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.8;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart__footer{
    margin-top:2rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.cart__totalprice{
    border:1px solid pink;
    /*border-radius:1px;*/
    background-color: antiquewhite;
    color:#333;
    padding:2rem;
    font-size:1.8rem;
    line-height:1.8;
}